h1, label, p {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    
}

.flex-box {
    background-color: darkslategrey;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 75px;
}

.row0 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex !important;
}

.row1 {
    flex-direction: column;
    justify-content: center;
    display: flex !important;
    text-align: left;
    
}

.row1 .name {
    width: 200px;
    align-self: center;
}

.row1 .nlabel {
    width: 200px;
    align-self: center;
}

.row2 {
    flex-direction: column;
    justify-content: center;
    display: flex !important;
    text-align: left;
}

.row2 .username {
    width: 200px;
    align-self: center;
}

.row2 .elabel {
    width: 200px;
    align-self: center;
}


.row3 {
    flex-direction: column;
    justify-content: center;
    display: flex !important;
    text-align: left;
}

.row3 .password1 {
    width: 200px;
    align-self: center;
}

.row3 .plabel1 {
    width: 200px;
    align-self: center;
}


.row4 {
    flex-direction: column;
    justify-content: center;
    display: flex !important;
    text-align: left;
}

.row4 .plabel2 {
    width: 200px;
    align-self: center;
}

.row4 .password2 {
    width: 200px;
    align-self: center;
}

.row5 {
    flex-direction: row;
    justify-content: center;
    display: flex !important;
    padding: 15px;
}

#submit {
    font-family: 'Work Sans', sans-serif;
}

.row6 {
    flex-direction: column;
    align-items: center;
    display: flex !important;
    justify-content: center;
}